/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


app-player-list,
app-heroes {
  @apply block mx-auto my-8 fake-container bg-blue-600 p-6;
}

.fake-container {
  width: 100%;

  @screen sm {
    max-width: theme('screens.sm');
  }

  @screen md {
    max-width: theme('screens.md');
  }

  @screen lg {
    max-width: theme('screens.lg');
  }

  @screen xl {
    max-width: theme('screens.xl');
  }
}